@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico&display=swap');



body {
    background-attachment: fixed;
    background-image: url(https://live.staticflickr.com/65535/48722739588_1cff38c29c_b.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
}


body, html {
    height: 100%;
    margin: 0;
}

/*------------------------------------------------------------------------HEADER---------------*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(72, 255, 36, 0.5);
    padding: 5px 5px;
    z-index: 1;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}




.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul-nav li {
    display: inline-block;
  font-size: 20px;
}

.logo {
    padding: 0;
    margin: 0;
}

.nav-text {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#home {
    padding-left: 20px;
}



.logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

/*------------------------------------------------------------------------MAIN---------------*/

.main {

}

.main-div {

}

.main-title {
    text-align: center;
}

#ecuador {
    font-family: "Lobster", sans-serif;
    color: #4E69FF;
    text-shadow: 8px 8px 16px #000000;
    font-size: 600%;
}

#four-worlds {
    font-family: "Pacifico" , sans-serif;
    color: rgb(0, 255, 0);
    text-shadow: 8px 8px 16px #000000;
    font-size: 250%;
}

.col-costa,
.col-sierra,
.col-amazonia,
.col-galapagos {
    padding-left: 25px;
    padding-right: 25px;

}

.div-costa,
.div-sierra,
.div-amazonia,
.div-galapagos {
    font-size: 250%;
    color: yellow;
    text-align: center;
    padding: 30px;
}

.image-costa,
.image-sierra,
.image-amazonia,
.image-galapagos {

}

.image-costa-circle,
 .image-sierra-circle,
 .image-amazonia-circle,
 .image-galapagos-circle {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-text {
    text-align: center;
    padding: 15px;
    color: #fafafa;
}



/*------------------------------------------------------------------------FOOTER---------------*/

.footer {
    position: static;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
}

.social {
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
}

.icons {

}

.div-social i  {
    display: inline-block;
    box-shadow: 0px 0px 2px #888;
    background-color: rgba(153, 131, 7, 0.336);
    color: rgba(6, 121, 228, 0.568);
    width: 41px;
    height: 41px;
    padding-top: 7px;
    border-radius: 50%;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
    margin-top: 2.5px;
    margin-bottom: 2.5px;

}




