@import url('https://fonts.googleapis.com/css?family=Lobster|Pacifico&display=swap');

body, html {
    height: 100%;
    margin: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(72, 255, 36, 0.5);
    padding: 15px 25px;
    z-index: 1;
}

.main {
    height: 100%;
}

.main-div {
    position: relative;
    top: 60px;
}

.main-title {
    text-align: center;
}

#ecuador {
    font-family: "Lobster", sans-serif;
    color: #4E69FF;
    text-shadow: 8px 8px 16px #000000;
    font-size: 600%;
}

#four-worlds {
    font-family: "Pacifico" , sans-serif;
    color: rgb(0, 255, 0);
    text-shadow: 8px 8px 16px #000000;
    font-size: 250%;
}

.section {
    background: url(https://be3a1c6e-2280-4b54-be8d-899100ca8c19.ws-eu0.gitpod.io/mini-browser/workspace/FirstCodeIntituteMilestone-HTML-CSS/Images/aluz-ecuador-crisol-de-paisajes-naturaleza-y-cultura-20743.jpeg);
    height: 100%;

}

.footer {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    height: 25px;
    background-color: yellow;
}

